root = true

[*.cs]
indent_style = space
indent_size = 4
charset = utf-8-bom
dotnet_style_qualification_for_field = false
dotnet_style_qualification_for_property = false
dotnet_style_qualification_for_method = false